@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}
.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 55px;
  font-family: "Exo";
  font-weight: 700;
  font-size: 2.5em;
}

.Logo__icone {
  position: absolute;
  left: -20px;
  top: -15px;
}

.Sacola {
  position: relative;
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }
}

.Home {
   position: relative;
   background-image: radial-gradient(
     farthest-corner at 40px 40px,
     #50c5ee 60%,
     rgba(0, 212, 255, 0.5) 100%
   );
   min-height: calc(100vh - 60px);
   margin: 15px;
   padding: 15px;
   border-radius: 20px;
   color: black;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
 
.Home > h2 {
   display: flex;
   justify-content: space-around;
   color: rgb(0, 0, 0);
}
 
.Home > div {
   display: flex;
   justify-content: center;
   color: rgb(0, 0, 0);
}
 
.Home__container {
   display: flex;
   align-items: center;
   justify-content: center;
}
 
@media (max-width: 350px) {
   .Home__container {
      justify-content: unset;
    }
}
.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListaItem {
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

.PaletaCardItem {
  margin: 20px 0;
  height: 150px;
  width: auto;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .PaletaListaItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItem__sabor,
.PaletaListaItem__sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItem__descricao,
.PaletaListaItem__descricao {
  font-size: 0.85em;
}

.PaletaCardItem__preco,
.PaletaListaItem__preco {
  color: darkviolet;
}

.PaletaListaItem__foto {
  height: 150px;
  margin-right: -60px;
}
.paleta-escolhida-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#idPaleta {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
}

#idPaletaButton {
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.4rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 0.2rem;
  width: 330px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

#idPaletaButton:hover {
  background-color: #9400d3;
  color: #ffffff;
}

#paleta-escolhida-input-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#pesquisarPaleta {
  font-family: 'Exo';
}
.modal-overlay{
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  padding: 1rem;
}

.close-modal{
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close-modal:hover{
  transform: scale(1);
}

.modal-body{
  padding: .5rem 1rem;
}

.modal-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body div input, textarea{
  width: 100%;
  padding: .5rem;
  font-size: .8rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: .4rem;
  border-radius: .3rem;
}

.modal-body div button {
  padding: .5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: #0097ce;
  border: solid 1px #0097ce;
  border-radius: .3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-body div button:hover{
  background-color: #0097ce;
  color: #fff;
}

.button-modal-create{
  display: flex;
  justify-content: flex-end;
}